.navbar {
  display: flex;
  justify-content: flex-end; /* ou space-between se quiser separar */
  align-items: center;
  padding: 10px;
  background-color: #00BFFF;
}

.nav-buttons {
  display: flex;
  gap: 10px; /* espaço entre os botões */
  align-items: center;
}

.nav-buttons button {
  padding: 8px 16px;
  border: none;
  background-color: #A020F0;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.nav-buttons button:hover {
  background-color: #0056b3;
}
