/* Remove margens padrão e garante altura total */
html, body {
  height: 100%;
  margin: 0;
}

/* Container ocupa toda a tela e centraliza */
.container {
  display: flex;
  justify-content: center; /* centro horizontal */
  align-items: center;     /* centro vertical */
  height: 100vh;           /* 100% da altura da viewport */
  /* background-color: #131212; */
  color: burlywood;
}
.title-h1:hover{
  /* color: red; */
}